# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
*.lock

# Generated plugin registrants
linux/flutter/generated_plugin_registrant.*
macos/Flutter/GeneratedPluginRegistrant.*
windows/flutter/generated_plugin_registrant.*
windows/flutter/generated_plugins.cmake
linux/flutter/generated_plugins.cmake

# Xcode
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/engine/
ios/Flutter/App.framework
ios/Flutter/FlutterPluginRegistrant/
ios/ServiceDefinitions.json
ios/Pods/
ios/Runner.xcworkspace
ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig

# Android
android/.gradle/
android/.idea/
android/local.properties
android/app/build/

# VS Code
.vscode/
